*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.welcome{
    text-align: center;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(90deg, rgb(208, 233, 213) 0%, rgb(156, 190, 197) 100%);
    background-image: url(../img/background_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    
}

.empty{
    flex-basis: 15%;
}

.receipt{
    flex-basis: 70%;
    background: linear-gradient(90deg, rgba(91,218,112,0.6) 0%, rgba(75,219,174,0.7) 53%, rgba(0,212,255,0.8) 100%);
    border-radius: 5px;
    box-shadow: rgba(91,218,112,0.4);
}

.goods{
    width: 98%;
    margin: 0 auto;
}

.table-header{
    color: #1F2020;
    background-color:  #AEE1CD;
    font-weight: bold;
    font-size: 20px;
}
.table-raw > th {
    font-weight: bold;
    color: #1F2020;
    padding: 10px 15px;
  }
   
.table-raw{
    background-color: #EBEBE3;
}
.table-raw:nth-child(2n) {
    background: #D1CDDA;
}

.total{
    background-color:  #AEE1CD;
}