*{
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    
}

/*  кастомный скролл*/

.custom-scroll {
    scrollbar-color: #919ea1 #cbd8db;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #5e6668;
    /* цвет плашки */
    border-radius: 10px;
    /* закругления плашки */
    border: 2px solid #5e6668;
    /* padding вокруг плашки */
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    /* ширина scrollbar */
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: rgba(0,212,255,0.8);
    /* цвет дорожки */
  }

  /*  основные стили*/
.welcome{
    text-align: center;
    color: #1F2020;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(90deg, rgb(208, 233, 213) 0%, rgb(156, 190, 197) 100%);
    background-image: url(../img/background_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    
}

.empty{
    flex-basis: 15%;
}

.receipt{
    flex-basis: 70%;
    background: linear-gradient(90deg, rgba(91,218,112,0.6) 0%, rgba(75,219,174,0.7) 53%, rgba(0,212,255,0.8) 100%);
    border-radius: 5px;
    box-shadow: rgba(91,218,112,0.4);
    padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.goods{
    width: 98%;
    margin: 0 auto;
}

.good-name{
    width: 40%;
}
.good-amount{
    width: 10%;
}

.good-mesure{
    width: 10%;
}

.good-price{
    width: 20%;
}

.good-total{
    width: 20%;
}

.table-header th{
    color: #1F2020;
    background-color:  #AEE1CD;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
}
.table-raw th {
    font-weight: bold;
    color: #1F2020;
    padding: 5px 15px;
  }
   
.table-raw{
    background-color: #EBEBE3;
}
.table-raw:nth-child(2n) {
    background: #D1CDDA;
}

.total{
    background-color:  #AEE1CD;
    font-weight: bold;
    color: #1F2020;
    padding: 10px 15px;
}

.total th{
    background-color:  #AEE1CD;
    font-weight: bold;
    color: #1F2020;
    padding: 10px 15px;
}