<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="js/vue.js"></script>
    <title>Дисплей покупателя</title>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="empty"></div>
            <div class="receipt custom-scroll">
            <h1 class="welcome">Добро пожаловать</h1>
            <table v-if="receipt.goods.length > 0" class="goods">
                <caption></caption>
                   <tr class="table-header">
                      <th class="good-name">Товар</th>
                      <th class="good-amount">Количество</th>
                      <th class="good-mesure">Ед. измерения</th>
                      <th class="good-price">Цена</th>
                      <th class="good-total">Сумма</th>
                   </tr>
                   <tr v-for="good in receipt.goods" class="table-raw">
                    <th class="good-name">{{good.name}}</th>
                    <th class="good-amount">{{good.amount}}</th>
                    <th class="good-mesure">{{good.mesure}}</th>
                    <th class="good-price">{{good.price}}</th>
                    <th class="good-total">{{good.total}}</th>
                 </tr>
                 <tr class="total">
                    <th class="good-name">Всего</th>
                    <th class="good-amount"></th>
                    <th class="good-mesure"></th>
                    <th class="good-price"></th>
                    <th class="good-total">{{receipt.total}} Руб.</th>
                 </tr>
             </table>   
            </div>    
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>